* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.detalle {
    position: absolute;
    z-index: 1;
    margin-top: 255px;
    margin-left: 16%;
    font-size: 49px;
    color: white;
    text-align: center;
}

figure img {
    width: 100%;
    height: 1000px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
}

h3 {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.articulo {
    margin: 40px;
    padding: 35px;
    background: #f4f2f2;
}

.articulo p {
    
    margin-left: 270px;
    
}
.imagenes-articulo {
    display: flex;
    flex-direction: column;
    margin-top: -160px;
    width: 230px;
    height: 230px; 
}
.imagenes-articulo2 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px; 
    margin-top: -140px;
}

nav {
   position: absolute;
    z-index: 2;
    padding: 15px;
}

.nav-item {
    display: inline-block;
    margin-left: 100px;
    font-size: 22px;
    margin-top: 40px;
}

.nav-link {
    text-decoration: none;
    color: rgb(233, 227, 227);
    
}
.nav-link:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}
.bottom {
    border-bottom: 1px solid rgb(0, 0, 0);   
}
.shrink {
    width: 100%;
    transition: all ease-in-out  0.1s;
    background-color: rgb(0, 0, 0);
    position: fixed;
    
   
}
.top {
    width: 100%;
    transition: all ease-in-out  0.7s;
}

input ,label{
    margin-left: 17%;
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

 form {
     overflow-x: hidden;
     height: 300px;
     background: #e9e9e9;
     padding: 10px;
 }

 h2 {
     text-align: center;
     color: rgb(99, 96, 96);
     margin-bottom: 5px;
 }

 .submit {
    background: #5dade2;
    color: cornsilk;
    width: 200px;
    margin-left: 55%;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 1px 0 1px rgba(54, 53, 53, 0.5);
    transition: background .30s;
 }
 .submit:hover{
     background: rgb(224, 217, 190);
     color: #1d1d1d;
 }
 textarea {
     margin-left: 55%;
     display: block;
     width: 400px;
     padding: 60px;
     margin-top: -220px;
     border-radius: 5px;
 }

/*------redes sociales-----*/

 .contenedor-final {
     display: flex;
     align-items: center;
     justify-content: center;
     background: black;
     height: 80px;
 }
 .redes-sociales {
   font-size: 30px;
 }
 .icons a {
     color: cornsilk;
     margin: 0 8px 0 8px;
     transition: all .5s;
 }

.icons a:hover {
    padding: 3rem;
    border-radius: 1rem 0 01rem;
}